version: '3.8'

services:
  api:
    build: .
    ports:
      - 8080:8080
    environment:
      - HTTP_ADDR=${HTTP_ADDR}
      - HTTP_WRITE_TIMEOUT=${HTTP_WRITE_TIMEOUT}
      - HTTP_READ_TIMEOUT=${HTTP_READ_TIMEOUT}
      - HTTP_SHUTDOWN_TIMEOUT=${HTTP_SHUTDOWN_TIMEOUT}
